<section class="empty">

<p class="empty_title">We haven't found news
    <br>
    from this category</p>
<picture>
    <source srcset="./image/mobile.png 1x, ./image/mobile@2x.png 2x" type="image/png" media="(max-width: 480px)"
        alt="empty-page" />
    <source srcset="./image/tablet.png 1x, ./image/tablet@2x.png 2x" type="image/png" media="(max-width:768px)"
        alt="empty-page" />
    <source srcset="./image/desktop.png 1x, ./image/desktop@2x.png 2x" type="image/png" media="(min-width: 1280px)"
        alt="empty-page" />
    <img class="empty_picture" src="./image/mobile.png" alt="empty-page" width="248" height="198" />
</picture>

</section>